{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="flex-container" style="display: flex; flex-direction: column; justify-content: space-between;">
    <div class="flex-item" style="margin-bottom:5%;">
      <h1 class="title" style="color: black;">
        FastNetMon Watui Manager
      </h1>
      <h2 class="subtitle" style="color: black;">
        Manage your FastNetMon easily.
      </h2>

      {% if request.user.is_authenticated %}
        <h1 class="title" style="color: black;">
          <p>Welcome,  {{ request.user.username }}!</p>
        </h1>
      {% else %}
        <h1 class="title" style="color: black;">You are not logged in</h1>
        <p><a href="{% url 'login' %}" style="color: darkblue;">➡️<b><u>Log In</u></b></a></p>
      {% endif %}
    </div>

    <div class="flex-item" > 
      <img src="{% static 'WatUI.png' %}" alt="Logo Watui" style="width: 50%; height: auto;">
    </div>

    <div class="flex-item" style="align-self: flex-end; width: 100%; margin-top:10%;">
      <p style="text-align: center; font-size: 14px;">
        Thanks to <b><a style="color: darkblue;" href="https://github.com/ptx-tech/fnm-webui/">ptx-tech</a></b> and <b><a style="color: darkblue;" href="https://github.com/pirmins/fnm-fsgui/">pirmins</a></b> for their open-source projects, this interface is based on their work. Also thanks to pavel-odintsov for <b><a style="color: darkblue;" href="https://fastnetmon.com/">FastNetMon</a></b> project.
      </p>
    </div>
  </div>
{% endblock %}
